body {
    text-align: center;
    background-color: #F0F4C3;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white
}

#image2 {
    height: 625px;
    width: 500px;
}

#image1 {
    height: 625px;
    width: 450px;
}
